<div class="container">
    <a href-config-key="LOGO_HREF" href="#" class="logo" text-config-key="LOGO_TEXT">[LOGO]</a>
    <button class="menu-toggle" aria-label="Toggle navigation" aria-expanded="false"><i class="fas fa-bars"></i></button>
    <div class="nav-links">
        <a href-config-key="NAV_LINK_1_HREF" href="#" text-config-key="NAV_LINK_1_TEXT">[NAV1]</a>
        <a href-config-key="NAV_LINK_2_HREF" href="#" text-config-key="NAV_LINK_2_TEXT">[NAV2]</a>
        <a href-config-key="NAV_LINK_3_HREF" href="#" text-config-key="NAV_LINK_3_TEXT">[NAV3]</a>
        <a href-config-key="NAV_LINK_TEAM_HREF" href="#" text-config-key="NAV_LINK_TEAM_TEXT">[TEAM]</a>
        <a href-config-key="NAV_LINK_4_HREF" href="#" text-config-key="NAV_LINK_4_TEXT">[NAV4]</a>
    </div>
</div>